@{
    ViewData["Title"] = "Адмін Панель";
}
<h1 class="text-center">Адмін Панель</h1>

<p>Ласкаво просимо в адмін панель! Виберіть дію:</p>

<ul>
    <li><a asp-controller="Catalog" asp-action="Index">Редагувати ігри</a></li>
    <li><a asp-controller="Admin" asp-action="Users">Керування користувачами</a></li>
</ul>
